
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}


#nav-bar {
    padding: 20px;
    background: linear-gradient(90deg, #7b2cbf, #5a189a);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#main-title {
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


form {
    font-family: Arial, Helvetica, sans-serif;

    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 700px;
}
#sub-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.sub-container-div{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 5px;

    align-items: center;

}
#enter-prompt, 
label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

#text {
    width: 100%;
    max-width: 500px;
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

input[type="color"] {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}


button {
    background: #7b2cbf;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

button:hover {
    background: #5a189a;
}

/* Art Container Styling */
#art-container {
    padding: 15px;
    margin: 20px auto;
    border: 2px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: white;
    max-width: 1200px;
    border-radius: 8px;
    overflow-x: auto;
}

/* Reduce the height and font size of the datalist input */
#font-input {
    font-size: 14px; /* Smaller font for the input field */
    padding: 5px;
    width: 100%;
}

/* Style options for autocomplete */
datalist option {
    font-size: 12px; /* Smaller font size for options */
    padding: 2px; /* Adjust padding to make it compact */
}

/* Style the input box to fit within a compact area */
#font-input::-webkit-calendar-picker-indicator {
    display: none; /* Hides dropdown icon for a cleaner look */
}


#ascii-output {
    padding: 20px;
    margin: 20px;
    background-color: white;
}

#downloadbtn{
    display: flex;
    justify-content: center;
}


@media (max-width: 768px) {
    form {
        width: 90%;
    }

    #text {
        width: 100%;
    }

    #art-container {
        width: 90%;
    }

    button {
        width: 100%;
        padding: 10px;
    }
}
